VITE_GOOGLE_CLIENT_ID=twoj-google-client-id.apps.googleusercontent.com
VITE_SUPER_ADMIN_EMAIL=admin@twoja-firma.pl
VITE_DATA_STORAGE_MODE=localStorage
VITE_FIREBASE_API_KEY=twoj-firebase-api-key
VITE_FIREBASE_AUTH_DOMAIN=twoj-projekt.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=twoj-projekt
VITE_FIREBASE_APP_ID=twoje-firebase-app-id
